<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <!-- REST -->
    <add key="Url.Rbac" value="https://10.200.45.241/Prodesp.Rbac2.0.servico/Services/Rest/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Url.ApiMonitor" value="http://localhost:4500/Prodesp.Gsnet.Monitor.WebApi/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- RBAC -->
    <add key="Url.Login" value="https://10.200.45.241/Prodesp.Rbac.Login.Mvc/home/ServiceLogin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Url.Login.Callback" value="http://localhost:4500/Prodesp.Gsnet.Monitor.Angular/Rbac/Callback" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>